.u-margin-left{
    margin-left: 36% !important;
    margin-top: 1.5% !important;
}
.u-center-text{
    text-align: center;
}
.color-black{
    color: black !important;
}
.u-margin-top{
    margin-top: 7rem !important;
}
.u-padding-bottom {
    padding-bottom: 25px !important;
}
.u-padding{
    padding: 30px 30px !important;
}
.u-table{
    height: 400px;
}