$primary-1: #7f9eb2;
$primary-2: #77919d;
$primary-3: #dae9f4;
$primary-4: #274c5e;

$color-grey-light-1: #ebe7e7;
$color-grey-light-2: #eee;
$color-grey-light-3:#d6d6d6;

$white: #fff;
$color-black: #000;
// FONT
$default-font-size: 16px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
